#define WINE_FILEDESCRIPTION_STR "My Founder"
#define WINE_FILENAME_STR "FounderScanImage.dll"
#define WINE_FILEVERSION 1,0,0,000
#define WINE_FILEVERSION_STR "1.0.0.000"
#define WINE_PRODUCTVERSION 1,0,0,000
#define WINE_PRODUCTVERSION_STR "1.0"

#include "wine/wine_common_ver.rc"
